.brands {
  color: #313437;
  background-color: #fff;
}

.brands a {
  display: block;
  text-align: center;
  padding: 0;
}

/* @media (min-width:768px) {} */

#dataTable_length label, #dataTable_filter label, #dataTable1_length label, #dataTable1_filter label {
  margin-bottom: 2rem;
}

/*  */

@media (max-width:767px) {
  .brands a {
    padding: 0;
  }
}

@media (max-width:767px) {
  .champ-hide {
    display: none;
  }
}

.brands a img {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

