@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
}

.box {
  /*font-size: 3vw;*/
  margin: max(1rem, 3vw);
  border: 0.35rem solid;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
}

.box:nth-child(2) {
  border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
  animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}

.photo-card {
  background-color: #575756;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 700px) {
  .photo-card {
    flex-direction: row;
  }
}

.photo-background {
  background-position: center;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-height: 250px;
}

@media screen and (min-width: 700px) {
  .photo-background {
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    min-height: none;
    width: 50%;
  }
}

.photo-details {
  padding: 2.1875em 5%;
}

@media screen and (min-width: 700px) {
  .photo-details {
    width: 50%;
  }
}

.photo-details h1, .photo-details h4 {
  color: #fff;
  font-weight: 500;
  margin: 0;
}

.photo-details h1 {
  font-size: 125%;
  line-height: 1;
  margin-bottom: 0.35em;
}

.photo-tags ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 87.5%;
  margin-top: 0.35em;
  text-transform: lowercase;
}

.photo-tags li {
  margin: 0 0.35em 0.35em 0;
}

.photo-tags a {
  background-color: #191e20;
  border-radius: 50px;
  color: #fff;
  display: block;
  padding: 0.3125em 1.25em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.photo-tags a:hover, .photo-tags a:focus {
  color: #f4d32b;
}

.photo-details p {
  color: white;
  margin-top: 15px;
}

